/* .jr-new { background: #B3F0FF; border-radius: 7px; white-space: nowrap; } */
/* .jr-hl { background: #F2F23F; border-radius: 7px; white-space: nowrap; } */
.jr-new { border-bottom: 3px solid #22D; border-radius: 7px; white-space: nowrap; }
.jr-hl { border-bottom: 3px solid #FFAC0F; border-radius: 7px; white-space: nowrap; }
