/* .jr-new { background: #B3F0FF; border-radius: 7px; white-space: nowrap; } */
/* .jr-hl { background: #F2F23F; border-radius: 7px; white-space: nowrap; } */
.jr-new { border-bottom: 3px solid #22D; border-radius: 7px; white-space: nowrap; }
.jr-hl { border-bottom: 3px solid #FFAC0F; border-radius: 7px; white-space: nowrap; }
.jr-l { border-bottom-right-radius: 0; }
.jr-m { border-radius: 0; }
.jr-r { border-bottom-left-radius: 0; }

.jr-hover {
  background-color: #bcd5eb !important;
  outline: 2px solid #5166bb !important;
}

#jr-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  background: #EEE;
  color: #88D;
  padding: 0 5px;
  border-bottom-left-radius: 8px;
  border: 1px solid #CCC;
}
#jr-tooltip > span:last-child {
  color: #FF7C0F;
}
.jr-ttParent { position: relative; }
