/* .jr-new { background: #B3F0FF; border-radius: 7px; white-space: nowrap; } */
/* .jr-hl { background: #F2F23F; border-radius: 7px; white-space: nowrap; } */
.jr-new { border-bottom: 3px solid #22D; border-radius: 7px; white-space: nowrap; }
.jr-hl { border-bottom: 3px solid #FFAC0F; border-radius: 7px; white-space: nowrap; }
.jr-l { border-bottom-right-radius: 0; }
.jr-m { border-radius: 0; }
.jr-r { border-bottom-left-radius: 0; }

.jr-hover {
  background-color: #bcd5eb !important;
  outline: 2px solid #5166bb !important;
}

#jr-tooltip {
  position: absolute;
  top: -1.5em;
  right: 0;
  font-size: 13px;
  background: #EEE;
  color: #FF7C0F;
  padding: 2px 5px;
  padding-top: 4px;
  font-weight: bold;
  border-bottom-left-radius: 8px;
  border: 1px solid #CCC;
  z-index: 1000002;
  line-height: 1em;
  letter-spacing: normal;
  white-space: normal
}
#jr-tooltip > span:nth-child(2) {
  color: #88D;
  margin-left: 1px;
}
#jr-tooltip > img {
  height: 16px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  display: inline;
}
.jr-ttParent { position: relative; }

#jr-tooltip .jr-hoverText {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-radius-bottom: 5px;
  font-size: 10px;

  width: 126px;
  top: 100%;
  left: 50%;
  margin-left: -63px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1000003;
}

/* Show the tooltip text when you mouse over the tooltip container */
#jr-tooltip:hover .jr-hoverText {
  visibility: visible;
}

.floatAway {
  position: absolute;
  right: 0;
  font-size: 11px;
  color: #FFF;
  mix-blend-mode: difference;
  animation-name: floatAway;
  animation-duration: 1s;
  animation-timing-function: linear;
  z-index: 1000001;
}

@keyframes floatAway {
  0%    { opacity: 0.0; top: -2em; }
  15%   { opacity: 1.0; }
  50%   { opacity: 1.0; }
  100%  { opacity: 0.0; top: -4em; }
}
