body {
	box-sizing: border-box;
	width: 30em;
}

header {
	background: #226;
	color: #FFF;
	padding: 8px;
	font-size: 16pt;
	padding-left: 1em;
}

section {
	padding: 12px;
	padding-top: 0;
	font-size: 12pt;
}

h1 {
	font-size: 16pt;
}

#inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#buttons {
	display: flex;
	flex-direction: column;
}
#text {
	width: auto;
}
#import {
	background: #EEE;
	border: 1px solid #AAA;
	border-radius: 4px;
	display: inline;
	padding: 3px;
	margin: 3px;
}
#import:active { background: #AAA; }
#export {
	background: #EEE;
	border: 1px solid #AAA;
	border-radius: 4px;
	display: inline;
	padding: 3px;
	margin: 3px;
}
#export:active { background: #AAA; }
.center { display: flex; justify-content: center; }
.horiz { display: flex; flex-direction: row; }
.vert { display: flex; flex-direction: column; flex-grow: 1; }
#delete {
	background: #C22;
	color: #FFF;
	border: 1px solid #AAA;
	border-radius: 4px;
	display: inline;
	padding: 4px;
	margin: 3px;
}
#delete:active { background: #AAA; }
#jap {
	display: flex;
	flex-basis: 1.5em;
	writing-mode: vertical-rl;
  text-orientation: upright;
	padding-top: 1em;
	align-items: center;
	text-align: center;
	color: #AAA;
	font-size: 16pt;
}

.button {
	font-size: 8pt;
	font-weight: bold;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	color: #FFF;
	border: 1px solid #AAA;
	border-radius: 7px;
	display: inline;
	padding: 3px;
}
#on {
	background: #2C2;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#on:active { background: #282; }
#off {
	background: #C22;
	border-width-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#off:active { background: #822; }
#on.currentButton { background: #282; }
#off.currentButton { background: #822; }

